.page {
    overflow-x: hidden;
}

.v-datalist-container {
  height: 100%;
  padding: 0;
}

.v-instruction-container {
  width: 80%;
  margin: 0 auto;
  border:.2rem solid #97d23d;
  justify-content: flex-start;
}

.v-canvas-container {
  width: 1300px;
  height: 800px;
  /* min-height: 900px; */
  border: none;
}

.v-slider-full {
  width: 80%;
  margin: auto;
}

.input-form {
  display: none;
  color: black;
}

.add {
  font-size: 0.9rem;
}

.left {
  order: 1;
}

.exp {
  order: 2;
}

.right {
  order: 3;
}

@media screen and (max-width: 1023px) {
    .left {
        order: 1;
    }
    .right {
        order: 2;
    }
    .exp {
        order: 3;
    }
}

#top-border {
    border-top: 0.1px dashed black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 15% auto;
  /* background-color: rgb(0, 0, 0); */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

#disp-heading {
  margin: 0.5rem;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#add-modal {
    /* width: auto; */
    width: 50%;
}

#edit-modal {
    /* width: auto; */
    width: 50%;
}

.v-datalist-title {
  border-bottom: 0;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

#lock-v #xy-grid #xz-grid #yz-grid {
  margin: auto 0.1rem;
  padding: auto 0.1rem;
}

.fields {
  width: 50%;
}

.field-div {
  margin: 1rem;
}
